*{
    background-color: aliceblue;
    /* color:blue; */
    /* text-align: center; */
}


ul{
    background-color: red;
}
p{
    background-color: green;
}
.form1{
    text-align: center;
}
.form1 label{
   margin-right:120px ;
}
#gender{
 margin-left:100px;
}
.try{
    border-radius: 50px;
    padding-left: 50px; 
    border-color:black;
    color:yellow;
    border-radius: 50px;
    border-style:double;
}